.button {
  text-decoration: none;
  color: var(--text-muted);
  background-color: inherit;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin: 0;
  line-height: 1.5em;
}

.button_current {
  color: var(--text-main);
}

.button:hover {
  background-color: grey;
}


.separator {
  color: var(--text-muted);
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
}
